/* Color Used:
rgb(89, 43, 212)
rgb(43,212,89)
rgb(255,255,255)=White
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

nav{
    text-align: center;
    padding: 16px;
    margin-bottom: 5px;
    background-color: rgb(212, 89, 43);
}

a {
    text-decoration: none;
}


/* Class */

.nav-link{
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(89, 43, 212);
}

.tools-img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border-style: solid;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    background-color:rgb(43, 166, 212);
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-bottom: 100px;
    padding: 20px;
}

.card-img {
    height: 300px;
    width: 300px;
}

/* ID */

#landing {
    text-align: center;
}

#profile {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#name {
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: white; -stretch goal */
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: white; -stretch goal */
}

#intro {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /* color: white; -stretch goal */
}

#tools {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#tools-title {
    margin-bottom: 10px;
    /* color: white; -stretch goal */
}



#projects {
    text-align: center;
    /* color: white; -stretch goal */
}

#contact {
    text-align: center;
    padding: 16px;
    margin-top: 4px;
    background-color: rgb(212, 89, 43);
}


/* Stretch Goal */

/* body {
    background-image: url(./body-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*/