/*
CSS Rules Syntax selector{
propert:value;
}
*/
/* Universal Selector */
/* Targets all elements using the"*" symbol. */

* {
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type Selector */
/* Type Selector - it selects all elements of  a specific HTML tag or type.*/

h1 {
    font-family: "Tahoma", sans-serif;
}

body {
    /* background-color: rgb(108, 201, 232); */
    background-image: url(https://images.unsplash.com/photo-1547407139-3c921a66005c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YW5pbWFsJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    text-align: center;
}

nav {
    background-color: white;
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: blue;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    font-size: 18px;
}

.title {
    color: green;
}

.module-image {
    height: 200px;
    width: 200px;
}

.module-card {
    border: 2px solid black;
    border-radius: 10px;
    height: 350px;
    width: 800px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(241, 241, 241, 0.397);
}


#hello {
    color: black;
    font-size: 2rem;
}

#logo {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#modules {
    margin-top: 30px;
}


.module-image {
    height: 200px;
    width: 200px;
}

.module-card {
    border: 2px solid black;
    border-radius: 10px;
    height: 350px;
    width: 800px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(241, 241, 241, 0.397);
}

